<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz</title>
</head>
<body>
    <form action='/formularz' method='post'>
        <input type="text" name="imie" placeholder="Imię">
        <input type="text" name="nazwisko" placeholder="Nazwisko">
        <input type="text" name="email" placeholder="Adres Email">
        <input type="text" name="tel" placeholder="Numet telefonu">
        <input type="submit" value="Potwierdź">
    </form>
</body>
</html>
